<div class="modal fade" id="vocaBoostItemModal" tabindex="-1" role="dialog" aria-labelledby="myVocaBoostItemLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form name="formVocaBoostItem" role="formVocaBoostItem" novalidate class="form-horizontal"
				ng-submit="submitVocaBoostItem()" ng-focus="toLearn">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
					<h4 class="modal-title" id="myVocaBoostItemLabel">Create or edit a VocaBoostItem</h4>
				</div>
				<div class="modal-body">
					<fieldset>
						<div class="row">
							<div class="col-sm-2">
								<label for="place" class="control-label">Question</label>
							</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="toLearn" ng-model="vocaBoostItem.toLearn" required="required"
									maxlength="25" minlength="2" placeholder="Question" />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<label for="answer" class="control-label">Réponse</label>
							</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="answser" ng-model="vocaBoostItem.answer" required="required"
									maxlength="50" minlength="2" placeholder="Réponse" />
							</div>
						</div>
					</fieldset>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelEditVocaBoostItem()">
						<span class="glyphicon glyphicon-ban-circle"></span> Cancel
					</button>
					<button type="submit" ng-show="!updateVocaBoostItemMode" ng-disabled="formVocaBoostItem.$invalid"
						class="btn btn-success">
						<span class="glyphicon glyphicon-save"></span> Save
					</button>
					<button type="submit" ng-show="updateVocaBoostItemMode" ng-disabled="formVocaBoostItem.$invalid"
						class="btn btn-success">
						<span class="glyphicon glyphicon-save"></span> Update
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div>
	<div class="row">
		<fieldset>
			<div class="row">
				<div class="col-sm-2">
					<label for="name" class="control-label">Name</label>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="name" ng-model="vocaBoostList.name" required="required"
						maxlength="30" minlength="2" placeholder="Name">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<label for="language" class="control-label">Language</label>
				</div>
				<div class="col-sm-2">
					<select class="form-control" name="language" ng-model="vocaBoostList.language"> 
					<option ng-repeat="language in languages" ng-selected="language == vocaBoostList.language"
						ng-value="language">{{language}}</option>
					</select>
				</div>
				<div class="col-sm-2">
					<label for="sharingMode" class="control-label">Sharing Mode</label>
				</div>
				<div class="col-sm-2">
					<select class="form-control" name="sharingMode" ng-model="vocaBoostList.sharingMode"> 
					<option ng-repeat="sharingMode in sharingModes" ng-selected="sharingMode == vocaBoostList.sharingMode"
						ng-value="sharingMode">{{sharingMode}}</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<label for="description" class="control-label">Description</label>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="description" ng-model="vocaBoostList.description" maxlength="50"
						minlength="50" placeholder="Description of that list" />
				</div>
			</div>
		</fieldset>
	</div>
	<div class="row">
		<fieldset>
			<legend>List items ({{vocaBoostList.vocaBoostItems.length}} items)</legend>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>To learn</th>
							<th>Answer</th>
							<th>
								<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#addVocaBoostItemModal"
									ng-click="addVocaBoostItem()">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="vocaBoostItem in itemsInTheCurrentPage">
							<td>{{vocaBoostItem.toLearn}}</td>
							<td>{{vocaBoostItem.answer}}</td>
							<td>
								<button type="submit" ng-click="updateVocaBoostItem(vocaBoostItem)" class="btn btn-success btn-sm">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button type="submit" ng-click="removeVocaBoostItem(vocaBoostItem)" class="btn btn-danger btn-sm">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<pagination total-items="vocaBoostList.vocaBoostItems.length" ng-model="currentPage" ng-change="pageChanged()"></pagination>
			</div>
		</fieldset>
	</div>

	<div class="modal-footer">
		<a href="api/v1/vocaBoostLists/csv/{{vocaBoostList.id}}" type="button" type="submit" class="btn btn-success"
			ng-disabled="vocaBoostList.name.length < 2"> <span class="glyphicon glyphicon-file"></span> Export CSV
		</a>
		<button type="button" type="submit" class="btn btn-success" ng-disabled="vocaBoostList.name.length < 2"
			ng-click="cancel()">
			<span class="glyphicon glyphicon-ban-circle"></span> Cancel
		</button>

		<button type="button" type="submit" ng-show="!updateMode" class="btn btn-success"
			ng-disabled="vocaBoostList.name.length < 2" ng-click="submitVocaBoostList()">
			<span class="glyphicon glyphicon-save"></span> Save
		</button>
		<button type="button" type="submit" ng-show="updateMode" class="btn btn-success"
			ng-disabled="fvocaBoostList.name.length < 2" ng-click="submitVocaBoostList()">
			<span class="glyphicon glyphicon-save"></span> Update
		</button>
	</div>
</div>
