<div>
	<p>
		Filtre <input type="text" ng-model="filter" class="form-control">
	</p>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Liste</th>
				<th>Description</th>
				<th>Langue</th>
				<th>Nombre de mots</th>
				<th>Mode de partage</th>
				<th>
					<button type="button" class="btn btn-success btn-sm" ng-click="add()">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="vocaBoostList in vocaBoostLists | filter:filter ">
				<td>{{vocaBoostList.name}}</td>
				<td>{{vocaBoostList.description | characters:100}}</td>
				<td>{{vocaBoostList.language}}</td>
				<td>{{vocaBoostList.vocaBoostItems.length}}</td>
				<td>{{vocaBoostList.sharingMode}}</td>
				<td>
					<button type="button" ng-click="edit(vocaBoostList.id)" ng-disabled="vocaBoostList.createdBy !== account.login"
						class="btn btn-success btn-sm">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button type="button" ng-click="test(vocaBoostList.id)" ng-disabled="vocaBoostList.vocaBoostItems.length <= 0"
						class="btn btn-success btn-sm">
						<span class="glyphicon glyphicon-book"></span>
					</button>
					<button type="button" ng-click="remove(vocaBoostList.id)" ng-disabled="vocaBoostList.createdBy !== account.login"
						class="btn btn-danger btn-sm">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
