<div>

	<h2>Test of list {{vocaBoostList.name}}</h2>

	<div class="modal-header">
		<div ng-show="!currentStats">
			<button type="button" class="btn btn-default" ng-click="start()" ng-disabled="sessionScore">
				<span class="glyphicon glyphicon-play"> Démarrer le test</span>
			</button>
		</div>

		<div ng-show="currentStats">
			<progress animate="true">
				<bar value="currentStats.progressKnown" type="success"><span ng-hide="currentStats.progressKnown <= 0">{{currentStats.progressKnown}}</span>
				</bar>
				<bar value="currentStats.progressSuccess" type="info"><span ng-hide="currentStats.progressSuccess <= 0">{{currentStats.progressSuccess}}</span>
				</bar>
			</progress>
		</div>
	</div>

	<div>
		<div class="flip" ng-show="started">
			<div class="card" ng-class="{flipped: flipped}" ng-click="flip()">
				<div class="face front">{{currentCard.vocaBoostItem.toLearn}}</div>
				<div class="face back" ng-show="flipped">
					<div>{{currentCard.vocaBoostItem.answer}}</div>
					<div>
						<button type="button" class="btn btn-success" ng-click="correct()">
							<span class="glyphicon glyphicon-ok-circle"></span>
						</button>
						<button type="button" class="btn btn-danger" ng-click="wrong()">
							<span class="glyphicon glyphicon-ban-circle"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="flip" ng-show="sessionScore >= 0">
		<div class="card">
			<div class="face front" ng-click="finish()">
				<div class="row">Score : {{sessionScore}} %</div>
			</div>
		</div>
	</div>